<h2 class="contact__title">Entre em contato conosco</h2>
<section class="contact__container">
  <form class="contact-form">
    <input type="text" placeholder="Digite o seu nome"/>
    <input type="text" placeholder="Digite o assunto">
    <input type="tel" placeholder="(00) 0 0000-0000"/>
    <input type="email" placeholder="Digite seu email"/>
    <textarea maxlength="300" placeholder="Digite sua mensagem"></textarea>
  </form>
  <address>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3604.443223748458!2d-51.484904699999994!3d-25.3899703!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ef37c792816267%3A0x77ff1a738fc2a4e8!2sR.%20S%C3%A3o%20Paulo%2C%201831%20-%20Dos%20Estados%2C%20Guarapuava%20-%20PR!5e0!3m2!1spt-BR!2sbr!4v1689799347452!5m2!1spt-BR!2sbr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    <p>R. São Paulo, 1831 - Dos Estados</p>
  </address>
</section>
