@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300&display=swap');

*{
  font-family: 'Mulish';
}

.main-header {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  outline: none;
  font-size: 100%;
  font-family: "Mulish";
  position: relative;
  min-height: 300px;
}
header {
  width: 100%;
  background: var(--dark-orange);
}


.main-header__title {
  font-size: 80px;
  letter-spacing: -1.5px;
  font-family: "Mulish";
  color: var(--blue);
}

.container {
  max-width: 1000px;
  min-width: 300px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 200px 10px 10px;

}

.main-header__menu ul {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  cursor: pointer;
  color: var(--light-gray);
}

.main-header__menu ul li {
  list-style: none;
  padding: 10px;

}

.main-header__menu a {
  color: var(--gray);
  font-weight: 400;
  font-size: 22px;
  text-decoration: none;
  transition: all .3s ease-in-out;
}

.main-header__menu a:hover {
  background-color: var(--blue);
  color: #fff;
}

.main-header__container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.header-block {
  max-width: 1000px;
  min-width: 80%;
  background: var(--blue);
  border-radius: 8px;
  box-shadow: 1px 0px 10px 0px rgba(0, 0, 0, 0.5);
  z-index: 10;
  padding: 10px;
  display: flex;
  position: absolute;
  justify-content: center;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-items: center;

}
.header-block img{
  max-height: 300px;
}


.header-block .text{
  padding: 32px;
}

.header-block .text h2{
  color: var(--light-gray);
  margin-bottom: 20px;
  text-align: right;
  transform: translate(-20px);
  transition: transform 0.5s;
}

.header-block .text p {
  color: darkgray;
  transform: translate(-16px);
  transition: transform 1s;
  text-align: justify;
}

.footer {
  max-width: 5000px;
  min-width: 300px;
  margin: 0 auto;
  background: var(--orange);
  color: var(--gray);
  font-size: 18px;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  padding: 10px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex: 1;

}

.footer__container{
  display: flex;
  justify-content: space-between;
}

.footer__apresentacao{
  padding: 16px 32px;
}

.footer__title {
  font-size: 22px;
  font-weight: bold;
  color: var(--light-gray);
  margin-bottom: 5px;
}

.footer__about-text {
  font-size: 1em;
  letter-spacing: 1px;
  color: #000;
}

.footer address{
  min-width: 350px;
  padding: 16px 32px;
}

.footer ul{
  color: var(--light-gray);
  margin: 0;
  padding: 0;
}


.footer li {
  margin: 10px 0;
  list-style: none;
  color: #000;
  padding: 0;
}

.footer__copyright {
  width: 100%;
  background: var(--blue);
  font-weight: bold;
  padding: 20px;
  color: #fff;
  text-align: center;
}
