<div class="d-flex justify-content-between align-items-center mb-3">
  <h1>
    @if (carro(); as carro) {
      {{ carro.marca }} {{ carro.nome_carro }}
    }
  </h1>
  <a class="btn btn-light" routerLink="/catalogo">Voltar</a>
</div>

@if (carro(); as carro) {
  <div class="detalhes pb-4">
    <table class="table table-striped">
      <tbody>
        <tr><th scope="row">Carro</th><td>{{ carro.nome_carro }}</td></tr>
        <tr><th scope="row">Marca</th><td>{{ carro.marca }}</td></tr>
        <tr><th scope="row">Modelo</th><td>{{ carro.modelo }}</td></tr>
        <tr><th scope="row">Ano</th><td>{{ carro.ano_fabricacao }}/{{ carro.ano_modelo }}</td></tr>
        <tr><th scope="row">Cor</th><td>{{ carro.cor }}</td></tr>
        <tr><th scope="row">Combustível</th><td>{{ combustiveis[carro.tipo_combustivel] }}</td></tr>
        <tr><th scope="row">Câmbio</th><td>{{ cambios[carro.cambio] }}</td></tr>
        <tr><th scope="row">Quilometragem</th><td>{{ carro.quilometragem | number }} km</td></tr>
        <tr><th scope="row">Valor</th><td class="valor">{{ carro.valor | currency }}</td></tr>
      </tbody>
    </table>
    @if (carro.foto) {
      <img class="img-fluid" [src]="carro.foto" [alt]="carro.marca + ' ' + carro.nome_carro">
    }
  </div>
} @else if (naoEncontrado()) {
  <p class="estado">Veículo não encontrado.</p>
} @else {
  <p class="estado">Carregando...</p>
}
