.detalhes {
  display: flex;
  align-items: center;
  gap: 24px;
}

img {
  max-width: 50%;
  max-height: 300px;
  object-fit: contain;
}

table {
  font-size: 18px;
}

th {
  font-weight: bold;
  width: 40%;
}

.valor {
  color: var(--light-blue);
  font-weight: bold;
}

.estado {
  padding: 48px 0;
  text-align: center;
  color: var(--gray);
}

@media (max-width: 768px) {
  .detalhes {
    flex-direction: column-reverse;
  }

  img {
    max-width: 100%;
  }
}
