form {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 1.5em;
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 1em;
}

h2 {
  margin-bottom: 1em;
}

.foto-atual {
  display: block;
  max-height: 120px;
  margin-bottom: 8px;
}
