  <div class="mb-3">
    <label for="nome" class="form-label">Nome do Carro:</label>
    <input type="text" id="nome" name="nome_carro" formControlName="nome_carro" class="form-control">
  </div>
  <div class="mb-3">
    <label for="marca"class="form-label">Marca:</label>
    <input type="text" id="marca">
  </div>
  <div class="mb-3">
    <label for="modelo" class="form-label">Modelo:</label>
    <input type="text" id="modelo">
  </div>
  <div class="mb-3">
    <label for="ano-fab" class="form-label">Ano fab:</label>
    <input type="text" id="ano-fab">
  </div>
  <div class="mb-3">
    <label for="ano-modelo"class="form-label">Ano Modelo:</label>
    <input type="text" id="ano-modelo">
  </div>
  <div class="mb-3">
    <label for="cor" class="form-label">Cor:</label>
    <input type="text" id="cor">
  </div>
  <div>
    <label for="tipo-combustivel" class="form-label">Tipo Combustivel:</label>
    <select name="tipo-combustivel" >
    <option value=""></option>
    <option value="gasolina">Gasolina</option>
    <option value="alcool">Alcool</option>
    <option value="flex">Flex</option>
    <option value="diesel">Diesel</option>
    <option value="gas-natural">Gás Natural</option>
    <input type="submit" id="tipo-combustivel">
  </select>
  </div>
  <div class="mb-3">
    <label for="cambio" class="form-label">Câmbio:</label>
    <select name="cambio" id="">
    <option value=""></option>
    <option value="manual">Manual</option>
    <option value="automatico">Automático</option>
    <input type="submit" id="cambio">
    </select>
  </div>
  <div class="mb-3">
    <label for="quilometragem" class="form-label">Quilometragem:</label>
    <input type="text" id="quilometragem">
  </div>
  <div>
    <label class="form-up">Upload imagens</label>
    <input type="file" name="fotos">
  </div>
  <div class="button">
    <button class="btn btn-primary" type="submit">Cadastrar</button>

    <button class="btn btn-secondary" routerLink="..">Voltar</button>
  </div>













