<section class="car-list">
  <div *ngFor="let carro of carros;" class="car-list__card">
    <a [routerLink]="['/catalogo/'+carro.id_carro]" routerLinkActive="router-link-active"  class="car-list__link">
      <img src="{{carro.foto}}" alt="">
      <h2 class="car-list__name">
        {{carro.nome_carro}}
      </h2>
      <p class="car-item__price">
        {{carro.valor}}
      </p>
      <p class="car-item__price-description">
        à vista
      </p>
      <button class="car-item__buy-button" type="button">Detalhes</button>
    </a>
  </div>
</section>
