<div class="filter-card">
  <form class="search-form__input" >
    <input type="text" class="search-form__input" placeholder="Encotre seu modelo favorito">
    <button class="search-form__button"><i>Pesquisar</i></button>
  </form>
</div>
<div >
  <button class="botton-order" (click)="ordenaCarros()">
    Odenar por: <strong>{{orderbyasc ? 'Maior preço': 'Menor preço'}}</strong>
  </button>
</div>
<section class="car-list">
  <div *ngFor="let carro of carros;" class="car-list__card">
    <a [routerLink]="['/catalogo/'+carro.id_carro]" routerLinkActive="router-link-active"  class="car-list__link">
      <img src="{{carro.foto}}" alt="">
      <h2 class="car-list__name">
        {{carro.nome_carro}}
      </h2>
      <p class="car-item__price">
        {{carro.valor | currency: 'BRL'}}
      </p>
      <p class="car-item__price-description">
        à vista
      </p>
      <button class="car-item__buy-button" type="button">Detalhes</button>
    </a>
  </div>
</section>
