
<table class="table">
  <thead>
    <tr>
      <th scope="col">Nome Carro</th>
      <th scope="col">Marca</th>
      <th scope="col">Modelo</th>
      <th scope="col">Ano Faricação</th>
      <th scope="col">Ano Modelo</th>
      <th scope="col">Cor</th>
      <th scope="col">Tipo Combustível</th>
      <th scope="col">Câmbio</th>
      <th scope="col">Quilometragem</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let carro of carros;">
      <td>{{carro.nome_carro}}</td>
      <td>{{carro.marca}}</td>
      <td>{{carro.modelo}}</td>
      <td>{{carro.ano_fabricacao}}</td>
      <td>{{carro.ano_modelo}}</td>
      <td>{{carro.cor}}</td>
      <td>{{carro.tipo_combustivel}}</td>
      <td>{{carro.cambio}}</td>
      <td>{{carro.quilometragem}}</td>
      <td>
        <button class="btn btn-danger" (click)="excluirCarro(carro.id_carro)">
          Excluir
        </button>
        <button class="btn btn-primary" [routerLink]="['/admin/'+carro.id_carro]">
          Editar
        </button>
      </td>
    </tr>
  </tbody>
</table>

<button class="btn btn-primary" routerLink="novo">Novo</button>
