@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300&display=swap');

* {
margin: 0;
padding: 0;
border: 0;
box-sizing: border-box;
outline: none;
font-size: 100%;
font: "Mulish";
}


:root {
  --orange: #ff7000;
  --dark-orange: #ff7e2e;
  --light-blue:#619b8a;
  --blue: #0f4c5c;
  --green: #00A200;
  --dark-blue: #002d47;
  --gray: rgba(88, 89, 91, 1);
  --light-gray: rgba(232, 232, 232, 1);
  --light-gray-2: rgb(247, 247, 247);
}

html,
body {
  width: 100%;

}

header {
  width: 100%;
  background: var(--dark-orange);
}

span {
  cursor: pointer;
}

.error-message {
  color: red;
}

.valid {
  border: 1px solid var(--green);
}

.invalid {
  border: 1px solid red;
}

.invalid:focus {
border-color: red;
}
