* {
  box-sizing: border-box;
}

:root {
  --orange: #ff7000;
  --dark-orange: #ff7e2e;
  --light-blue: #619b8a;
  --blue: #0f4c5c;
  --green: #00a200;
  --dark-blue: #002d47;
  --gray: rgba(88, 89, 91, 1);
  --light-gray: rgba(232, 232, 232, 0.863);
  --light-gray-2: rgb(247, 247, 247);
}

html,
body {
  width: 100%;
  min-height: 100vh;
  margin: 0;
}

body {
  font-family: 'Mulish', sans-serif;
  background: #fff;
}

.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  width: 100%;
  background: var(--dark-orange);
}

.error-message {
  color: #c62828;
}

.btn-primary {
  --bs-btn-bg: var(--blue);
  --bs-btn-border-color: var(--blue);
  --bs-btn-hover-bg: var(--dark-blue);
  --bs-btn-hover-border-color: var(--dark-blue);
  --bs-btn-active-bg: var(--dark-blue);
  --bs-btn-disabled-bg: var(--blue);
  --bs-btn-disabled-border-color: var(--blue);
}
