<footer class="footer">
  <div class="footer__container">
    <section>
      <h2 class="footer__title">Apresentação</h2>
      <p class="footer__about-text">Bem-vindo à nossa loja de automóveis, o destino definitivo para todos os amantes de carros. Aqui, você encontrará uma ampla seleção dos veículos mais sofisticados e empolgantes do mercado. Com uma equipe dedicada e experiente, estamos prontos para ajudá-lo a encontrar o carro perfeito que atenda a todas as suas necessidades e desejos. Desde carros familiares confiáveis até modelos esportivos de alto desempenho, temos algo para todos os estilos de vida e preferências.</p>
    </section>
  </div>
  <address>
    <h2 class="footer__title">Contato</h2>
    <ul>
      <li><a><i class="fa-solid fa-phone">(00) 0000-0000</i></a></li>
      <li><a><i class="fa-brands fa-whatsapp">(00) 0000-0000</i></a></li>
    <li><a><i class="fa-solid fa-envelope">email@email.com</i>
    </a></li>
  </ul>
  </address>
  <section class="footer__copyright">
    &copy;Todos os direitos reservados
  </section>
</footer>
